<!DOCTYPE html>
<html>
	<head>
		<title>Dani's blog</title>
	</head>
	<body>
		<header>
			<h1>Welcome to my blog</h1>
			<p>Here you will find some funny text samples</p>
		</header>

		<article>
            <time>published: 22.03.2025, 16:00</time>
            <h2><a href="">Post 1</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </article>

		<article>
            <time>published: 22.03.2025, 16:00</time>
            <h2><a href="">Post 2</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
	</body>
</html>
